* {
	font-family: 'Montserrat', sans-serif;

	margin:  0;
	padding: ;
	box-sizing:  border-box;
}

h1 {
	font-weight: normal ;
	margin: 30px;
}

body {
	margin: 2px;
	display: block;
	padding: 50 px;
	border: 2px solid black;
}

#sec1 {
	margin: 50px;
	padding: 30px;
	font-size: 15px;
}


#foot {
	background-color: #002540;
	column-count: 4;
	color: white;
	
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size:  12px;
}

#terms {
	margin-left: 5px;
	font-size: 11px;
}

#terms1 {
	display: inline;
}

#terms2 {
	display: inline;
}

#terms3 {
	display: inline;
}